@page

<div class="text-center">
    <ul id="messageList" class="chat">  <li>Hi</li> </ul>
    <input type="text" id='userName'>
    <input type="text" id='userMessage'>
    <input type="button" id='sendMessage' value="send">
</div>
<script src="~/lib/signalr/signalr.js"></script>